.side-bar {
    display: flex;
    flex-direction: column;
    /* background-color: var(--clr3); */
    width: 10em;
    font-size: 1.2rem;
    caret-color: transparent;
}

.side-bar img {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    display: none;
}

.side-ul {
    padding: 0;
}

.side-ul li{
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.side-ul li:first-child {
    display: inline-block;
    background-color: rgb(218, 227, 231);
    margin-block: 3rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 1rem;
}

.side-ul li:first-child:hover {
    background-color: rgb(230, 240, 255);
}

.side-ul li {
    list-style-type: none;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
}

.side-ul li:hover {
    background-color: rgba(219, 219, 219, 0.5);
}

.hamburger {
    display: none;
}