.side-bar {
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 247, 255);
    width: 10em;
}

.side-ul {
    padding: 0;
}

.side-ul li {
    list-style-type: none;
    padding: 1em;
    cursor: pointer;
}