.mail-row {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: -1px 0px 3px 0.1px rgba(145, 145, 145, 0.2);
    width: 100%;
    padding-inline: 0.5rem;
    overflow: hidden;
}

.mail-row.true {
    background-color: var(--clr4);
    font-weight: 200;
}

.mail-row:hover {
    /* background-color: var(--clr4); */
    scale: 1 1.001;
    box-shadow: 0px 2px 20px 0.5px rgba(145, 145, 145, 0.3);
}

.mail-row.true:hover {
    /* background-color: var(--clr2); */
}

.mail-row:hover .date {
    opacity: 0;
}

.mail-title {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    justify-items: start;
}

.mail-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subject {
    margin-right: 0.5rem;
}

.mail-title .from {
    width: 12rem;
}


.mail-title .date {
    background-color: white;
    padding: 0.3rem;
    position: absolute;
    right: 2px;
}

.mail-row.true .date {
    background-color: var(--clr4);
}

p.msg {
    max-width: 30rem;
}