.mail-list {
    display: flex;
    flex-direction: column;
}

ul.mail-list {
    padding: 0.5em;
    width: 100%;
    height: 100%;
}

.mail-list button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

/* .mail-list li, .mail-list a {
    background-color: rgb(226, 226, 226);
} */

.mail-list .delete-button {
    position: absolute;
    right: 5em;
    opacity: 0;
}

.mail-list img {
    width: 1.5em;
}

.mail-row:hover .delete-button {
    opacity: 1;
    cursor: pointer;
}

.star-button .empty-star.false {
    width: 1.5em;
}

.star-button .empty-star.true {
    width: 0;
}

.star-button .yellow-star.false {
    width: 0;
}

.star-button .yellow-star.true{
    width: 1.2em;
}

.label-button .empty-label.false {
    width: 1.5em;
}

.label-button .empty-label.true {
    width: 0;
}

.label-button .yellow-label.false {
    width: 0;
}

.label-button .yellow-label.true{
    width: 1.2em;
}