h3 {
    text-align: center;
    font-family: source;
    /* font-size: 0.8rem; */
}

p{
    display: flex;
    /* height: 30px; */
    margin-bottom: 30px;
    margin-left: 10px;
    font-family: source;
    /* font-size: 0.8rem; */
}
.note-preview{
    position: relative;
    height: 100%;
}

.edit-buttons{
    display: flex;
    /* visibility: hidden; */
    justify-content: center;
    /* position: absolute;
    bottom: 0;
    left:5%; */
}

.edit-buttons:hover{
    /* display:flex; */
    cursor: pointer;
    /* visibility: visible; */
}

.edit-buttons button {
    transition-duration: 0.4s;
    /* color: black; */
    border: none;
}

.edit-buttons button:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}

.edit-buttons img{
    width: 1.5em;
}


.ul-todo{
    margin-bottom: 5px;
}