header {
    font-family: source;
    font-size: 1.5rem;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.app-header img {
    width: 3rem;
    transform: scaleX(-1);
    margin-left: 2rem;
}

nav a {
    margin: 1rem;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
}