.user-msg {
    background-color: rgb(240, 232, 232);
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    font-size: 1.5rem;
    font-family: source;
    bottom: 1em;
    right: 1em;
}

.user-msg.success {
    background-color: lightgreen;
}

.user-msg.error {
    background-color: lightpink;
}


.user-msg button{
    float: right;
    margin: 1em;
}